<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>project.java.controller.FrontController</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/do</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>FilterImage</filter-name>
        <filter-class>project.java.filters.FilterImage</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterImage</filter-name>
        <url-pattern>/img/*</url-pattern>
    </filter-mapping>

</web-app>